<section>
    {{!-- for each element in sauce list, show this html --}}
    <div class="container">
        <div class="row">
            {{#each restaurants}}
            <div class="col">
                <img class="item-img" src="{{image}}" width="80px"/>
                <a class="btn" href="/restaurants/{{id}}"><h2>{{name}}</h2></a>
            </div>
            {{/each}}
        </div>
    </div>
</section>